.column {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    align-content: center;
}

.map {
  margin-left: 90px;
  margin-right: 90px;
  align-items: center;
  align-content: center;
}

#mapid { 
    height: 500px;
    width: auto; 
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
}

.title {
    /* background-color: skyblue; */
    border-radius: 14px;
    padding: 15px 25px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right:20px;
  }

.text-center{
    display: flex;
    justify-content: center;
  }

.border{
  background-color: #1e6f47;
  padding: 15px;
  border-radius: 25px; 
}

.search {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.submit {
  margin-top: 15px;
}

.no-result {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.farm-image {
  display: flex;
}

.result {
  margin-left: 70px;
  margin-right: 70px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.farm-info {
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-left: 50px;
}

.readmore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}

.farm-name {
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .farm-info {
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin-left: 0px;
  }

  .farm-name {
    text-align: center;
  }

  .farm-row {
    padding-left: 1.5em;
    text-indent:-1.5em;
  }
}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
  .result {
    margin-left: 200px;
    margin-right: 200px;
  }

  .farm-info {
    align-items: center;
    justify-content: flex-end;
    /* margin-left: 40%; */
  }
}