#name{
  margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
  padding-top: 2px;
  padding-bottom: 2px;
}

#myCarousel{
  margin-bottom: 20px;
}

#details{
  margin-bottom: 20px;
}